#projects {
    gap: 3.5rem;
    padding: 4.5rem 7.5rem 9rem;
}

#gallery {
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: repeat(2, 280px);
    grid-auto-flow: row;
    gap: 1.5rem;

    h3 {
        color: var(--gray-600);
    }
}