.grid {
    display: grid;
}

.grid-col {
    grid-auto-flow: column;
}

.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

.subtitle {
    font: var(--subtitle);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}

.main-red {
    filter: invert(62%) sepia(55%) saturate(7459%) hue-rotate(328deg) brightness(119%) contrast(78%);
}

.main-purple {
    filter: invert(54%) sepia(26%) saturate(1358%) hue-rotate(228deg) brightness(98%) contrast(87%);
}

.main-blue {
    filter: invert(69%) sepia(42%) saturate(6653%) hue-rotate(181deg) brightness(93%) contrast(84%);
}

.main-green {
    filter: invert(82%) sepia(8%) saturate(3736%) hue-rotate(41deg) brightness(94%) contrast(62%);
}

.main-yellow {
    filter: invert(70%) sepia(100%) saturate(280%) hue-rotate(348deg) brightness(99%) contrast(85%);
}
